
.red {
    background-color: red;
    color: white;
    width: 10px;
}

.green {
    background-color: green;
    color: white;
    width: 10px;

}

.yellow {
    background-color: yellow;
    
    width: 10px;
}

